.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.valign-wrapper {
  justify-content: center;
}

body {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.main-header {
  height: 100vh;
  position: relative;
}

nav {
  background-color: rgba(156, 39, 176, 0.8);
  /* color: rgb(156, 39, 176) */
}

.nav-wrapper {
  opacity: 0;
}

.welcome-container {
  height: 100%;
  width: 90% !important;
  margin: 0 auto;
  color: rgba(255, 255, 255, 1);
}

.welcome-title {
  margin: 0;
  font-weight: 300;
  word-spacing: 2px;
}

.main-header-arrow__icon,
.main-header-arrow__link {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 70%;
}

.main-header-arrow__icon {
  background-color: rgba(156, 39, 176, 0.8);
}

.main-header-arrow__link {
  width: 60px;
  height: 60px;
  z-index: 10;
}


.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about__img {
  border-radius: 2px;
}

.page-footer {
  background-color: #766e88;
}

@media (max-width: 992px) {
  .d-flex {
    flex-direction: column;
  }

  .main-header {
    height: 560px;
  }

  .bg-video {
    height: 560px;
  }


}


@media (max-width: 600px) {
  .main-header {
    height: 360px;
  }

  .bg-video {
    height: 360px;
  }



}
